* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.layout-size-nav {
    max-width: 1200px ;
    margin-left: auto;
    margin-right: auto;
}


.nav-main {
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-inner {
    background-color: #255ee9;
}

#link ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.button{
    padding: 10px 16px;
    border-radius: 40px;
    border: 0;
}

.login-button {
    font-size: 15px;
    
}

#link li {
    color: white;
    font-size: 20px;
    font-weight:600;
}


.main-top{
    background: url(../img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    min-height: 800px;
    align-items: center;
    justify-content: center;
}


.description-inner {
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 100px;
}

#title {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.description-inner p {
    color: white;
    text-align: center;
    font-size: 20px;
}


#download {
    background-color: white;
    width: 210px;
    height: 60px;
    font-size: large;
    font-weight: 500;
}

#open {
    background-color: #23272a;
    width: 300px;
    height: 60px;
    color: white;
    font-size: large;
    font-weight: 500;
}

.article-section .small-size {
    width: auto;
    height: 660px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.image {
    background-color: grey;
    width: 500px;
    height: 300px;
}

.article-info {
    display: flex;
    flex-flow: column nowrap;
    width: 410px;
    height: 430px;
}

.small-size > .article-title {
    flex-grow: 2;
}

.small-size > .article-description {
    flex-grow: 1;
}

.article-title {
    display: flex;
    font-size: 50px;
}

.wave {
    filter: invert(99%) sepia(1%) saturate(1%) hue-rotate(256deg) brightness(116%) contrast(93%);
    display: block;
}

.wave-revert {
    transform: rotate(180deg);
    transform: scaley(-1);
}

.article-description {
    display: flex;
    font-size: 20px;
}

.big-size {
    background-color: #f6f6f6;
    width: auto;
    height: 660px;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.big-size > .article-info {
    gap: 20px;

}

.last-article {
    background-color: #f6f6f6;
    width: auto;
    height: 1300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.last-article-info {
    max-width: 1000px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 30px;
}

.last-article-title {
    font-size: 40px;
}

.last-article-description {
    text-align: center;
    font-size: 20px;
}

.last-article-image {
}

.last-article-conclusion {
    color: black;
    width: 610px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-position: 20px;
    font-weight: 700;
    padding-top: 20px;
}

.last-button{
  font-size: 20px;
  background-color: #7289da;
  color: white;
  padding: 20px;
}

footer {
    background-color: #23272a;
    width: auto;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section {
    width: auto;
    height: 500px;
    display: flex;
    flex-flow: column;
    gap: 50px;
}

.footer-top {
    display: flex;
    gap: 100px;
}

.footer-info {
    width: 240px;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}

#title-footer {
    color: #7289da;
    font-size: 30px;
    max-width: 230px;
    max-height: 70px;
}

.lingua {
    width: 95px;
    height: 25px;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.lingua img {
    max-width: 30px;
    max-height: 20px;
}

.lingua div  {
    color: white;
}

.lingua div span {
    font-size: 7px;
}

#social {
    max-width: 70px;
    max-height: 25px;
    display: flex;
    gap: 20px;
}

.social-logo {
    max-width: calc(100% / 4);
    max-height: 100%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(67deg) brightness(105%) contrast(102%);
}

.footer-top ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.footer-top ul h4 {
color: #6e82c6;
}

.footer-top ul li {
    width: 110px;
    height: 20px;
    color: white;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}

#riga {
    border: 1px #255ee9 solid;
}

#logo-footer {
   width: 130px;
   height: 35px;
}

#register {
    width: 130px;
    height: 35px;
    background-color: white; 
 }

 .register-button{
    background-color: #7289da;
    color: white;
    padding: 10px;
  }